@media screen and (max-width:1140px){
    .commerce__box{
        justify-content: center;
    }
    .shop__box{
        gap: 15px;
        justify-content: center;
    }
}
@media screen and (max-width:980px){
    .header__nav-box{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .commerce__box{
        margin-bottom: 38px;
    }
}
@media screen and (max-width:630px){
    .header__content-title{
        font-size: 40px;
    }
    .commerce__info-title{
        font-size: 40px;
    }
}
@media screen and (max-width:550px){
    .header__nav-list{
        gap: 20px;
    }
    .header__content-title{
        font-size: 30px;
    }
    .intro{
        padding: 90px 0;
    }
    .shop__info-title{
        font-size: 38px;
    }
}
@media screen and (max-width:590px){
    .commerce__box{
        gap: 15px;
        justify-content: center;
    }
}
@media screen and (max-width:450px){
    .header__nav-list{
        justify-content: center;
    }
    .intro__box-title{
        font-size: 35px;
    }
}
@media screen and (max-width:440px){
    .header__content-title{
        text-align: center;
    }
    .shop__info-title{
        font-size: 28px;
    }
}
@media screen and (max-width:380px){
    .commerce__info-title{
        text-align: center;
        font-size: 28px;
    }
}
